<header class="site-header">
	<div class="header-left">
		<img src="/assets/images/banner.jpg" alt="Site Banner" class="banner-image">
	</div>
	<nav class="header-right">
		<ul class="nav-links">
			<li><a href="/index.html">Home</a></li>
			<li><a href="/pages/gallery.html">Gallery</a></li>
			<li><a href="/pages/programs.html">Programs</a></li>
			<li><a href="/pages/minecraft.html">Minecraft</a></li>
			<!--<li><a href="/pages/datapacks.html">Datapacks</a></li>-->
			<li><a href="https://www.youtube.com/c/serpentdagger" target="_blank">YouTube</a></li>
		</ul>
	</nav>
</header>
