<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>__TODO__</title>
	<base href="/" />
	<link rel="stylesheet" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body class="list-body">
	<div id="header-placeholder"></div>

	<main class="list-main">
		<h1>__TODO title__</h1>
		<hr class="section-divider">
		
		<p>__TODO__ description</p>

		<div class="link-list">
			<a href="/pages/content/__TODO__.html" class="list-link">
				<div class="list-text">
					<h2>__TODO__ title</h2>
					<p>__TODO__ blurb</p>
				</div>
				<img src="/assets/thumbnails/__TODO__.png" alt="__TODO__" class="list-thumbnail" />
			</a>

			<!--
				....
				more entries
				....
			-->
		</div>
	</main>

	<div id="footer-placeholder"></div>
	<script src="/js/includes.js"></script>
</body>
</html>
